<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <section id="nav">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/homes/index">RaiseTech</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-item nav-link active" href="/beginner">はじめての方へ</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link active" href="/homes/aws">AWS</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link active" href="/ruby">Ruby</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link active" href="/java">Java</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link active" href="/wordpress">WordPress</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link active" href="/change_of_job">転職</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link active" href="/movie">動画講座</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <%= yield %>
  </body>
</html>
